{% extends 'MisPalabras/schema.html' %}

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi Pagina - MisPalabras</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
    {% block titulo %}
        <div class="titulo">
            Pagina de {{ user }}
        </div>
    {%  endblock %}

    {% block barraOpciones %}

        <div class="cajaOpts">
            <h2 style="color: blue">Opciones:</h2> <br>
            <a href='/MisPalabras/'><p>~ Inicio </p> </a> <br>
            <a href='/MisPalabras/ayuda'><p>~ Ayuda </p> </a> <br>
            <p>~ XML </p> <br>
            <a href='/MisPalabras/json'><p>~ JSON </p> </a> <br>
        </div>

    {%  endblock %}

    {%  block contenido %}
        <div class="cajaPals">
            <br>
            <p><b style="color:blue">Palabras añadidas por {{ user }}: </b> </p> <br>
            {%  for palabra in palabras_añadidas %}
                <a href='/MisPalabras/{{ palabra.nombrePalabra }}'><p>~ {{  palabra.nombrePalabra }}</a> --> {{ palabra.votos }} votos </p> <br>
            {% endfor %}
            <br>
        </div>


        <div class="cajaPals" style="width: auto">
            <br>
            <p><b style="color: blue">Comentarios puestos por {{ user }}: </b></p><br>
            {% for comentario in comentarios_puestos %}
                <p>~ Escrito en <a href='/MisPalabras/{{ comentario.palabra.nombrePalabra}}'>{{ comentario.palabra.nombrePalabra}}</a> ({{ comentario.fecha }}) --> <b>{{ comentario.comentario }}</b> <br> </p> <br>
            {%  endfor %}
        </div>

    {% endblock %}

</body>
</html>