{% extends 'MisPalabras/schema.html' %}

<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ palabra }} - MisPalabras</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
    {% block titulo %}
        <div class="titulo">
            {%  if añadida %}
                <b>{{ palabra }}</b>
            {% else %}
                <b>{{ palabra }}</b>
            {% endif %}
        </div>
    {%  endblock %}

    {%  block contenido %}
        <br>
        <br>
        <div class="def">
            <p style="color:blue;text-align: center">Definicion:</p>{{ definicion }}
        </div>
        <br>
        <br>

        <div class="imagen">
            {%  if tiene_imagen %}
                <img src="{{ imagen }}">
            {%  else %}
                La palabra no tiene imagen
            {%  endif %}
        </div>


        {%  if añadida %}
            Palabra añadida.
            <b>({{ votos }} votos)</b>
            {%  if request.user.is_authenticated %}
                {% if palabra_votada %}
                    <br> <p style="color:darkred">Palabra ya votada.</p>
                {% else %}
                    <form method="POST">
                        {%  csrf_token %}
                        <input type="submit" name="action" value="votar palabra">
                    </form>
                {% endif %}

                 <br>
                <div class="comentario">
                    <form action="" method="POST">
                        {%  csrf_token %}
                        <br>Comentario: <input type = "text" name = "comentario">
                        <br><input type="submit" name="action" value="comentar">
                    </form>
                </div>
            {% endif %}
        {%  else %}
            {%  if request.user.is_authenticated %}
                <form method="POST">
                    {%  csrf_token %}
                    <input type="submit" name="action" value="añadir palabra">
                </form>

            {% else %}
                Necesitas loguearte para añadir esta palabra.
            {%  endif %}

        {% endif %}



        <br>
        <br>
        <h2 style="color:white; margin-left:800px; font-size: large; font-family: Calibri "> Comentarios: </h2>
        {% for comentario in lista_comentarios %}
            <div class="comentario">
                <p><b>Autor</b>: {{ comentario.autor }} <b>({{ comentario.fecha }}):</b></p>
                <p><b>Comentario</b>: {{ comentario.comentario }}</p> <br>
            </div>
        {% endfor %}
        <br>
    <br>
    <br>



    {% endblock %}

    {% block barraOpciones %}

        <div class="cajaOpts">
            <h2 style="color: blue">Opciones:</h2> <br>
            <a href='/MisPalabras/'><p>~ Inicio </p> </a> <br>
            <a href='/MisPalabras/ayuda'><p>~ Ayuda </p> </a> <br>
            {%  if request.user.is_authenticated %}
                <a href='/MisPalabras/MiPagina'><p>~ Mi página </p> </a> <br>
            {%  endif %}
            <p>~ XML </p> <br>
            <a href='/MisPalabras/json'><p>~ JSON </p> </a> <br>
        </div>

    {%  endblock %}

</body>
</html>